<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <form action="/results" method="post">
        Name: <input type="text" name="name" value=""><br>
        Dojo Location: <input type="text" name="location" value=""><br>
        Favorite Language: <input type="text" name="language" value=""><br>
        Comment: <textarea name="comment" rows="8" cols="80"></textarea><br>
        <input type="submit" name="" value="Submit Survey">
    </form>

</body>
</html>
