<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
</head>
<body>
    <h1>Submitted Info</h1>
    <p>Name submitted: <%= info.name %></p>
    <p>Location submitted: <%= info.location %> </p>
    <p>Language submitted: <%= info.language %></p>
    <p>Comment submitted: <%= info.comment %></p>
    <form action="/" method="get">
        <input type="submit" name="" value="Go Back">
    </form>
</body>
</html>
