<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Car</title>
</head>
<body>
    <h1>Add a Car</h1>
    <form action="" method="post">
        Make: <input type="make" name="" value="">
        Model: <input type="make" name="" value="">
        Year: <input type="make" name="" value="">
        Color: <input type="make" name="" value="">
        <input type="submit" name="" value="Submit">
    </form>
</body>
</html>
