<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <title>Color Picker</title>
</head>
<body>
    <h1>Enter your color value below</h1>
    <form action="/results" method="get">
        Red: <input type="text" name="red" value="">
        Green: <input type="text" name="green" value="">
        Blue: <input type="text" name="blue" value="">
        <input type="submit" name="" value="Show my color!">
    </form>
</body>
</html>
