<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey</title>
</head>
<body>
    <fieldset>
        <form action="/survey/process" method="post">
            {% csrf_token %}
            <p>Your name: <input type="text" name="name" value=""></p>
            <p>Dojo location:</p>
            <select class="" name="location">
                <option value="Mountain View">Mountain View</option>
                <option value="San Jose">San Jose</option>
                <option value="Seattle">Seattle</option>
            </select>
            <p>Favorite Language:</p>
            <select class="" name="language">
                <option value="Javascript">Javascript</option>
                <option value="Python"> Python</option>
                <option value="iOS">iOS</option>
            </select>
            <p>Comments: (Optional)</p>
            <textarea name="comments" rows="8" cols="80"></textarea>
            <input type="submit" name="" value="Submit">
        </form>
    </fieldset>
</body>
</html>
