<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax Projects</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        console.log($);
        $(function(){
            $('#post_form').on('submit', function(){
                console.log("sending the post to the backend")
                $.ajax({
                    url:"/posts",
                    method:"POST",
                    data:{
                        csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                        note: $('input[name="note"]').val()
                    },
                    success:function(data){
                        console.log(data);
                        $('#posts_list').append($("<li>").text(data.note));
                    }
                })
                return false;
            })

        })
    </script>
</head>
<body>
    <h1>My Posts</h1>

    <ul id="posts_list">
    </ul>
    <form id="post_form">
        {% csrf_token %}
        Add a note: <input type="text" name="note" value="">
        <input id="add_post"type="submit" name="" value="Post it!">
    </form>
</body>
</html>
