<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'quotes_app/style.css' %}" />

</head>
<body>
    <h2>Welcome</h2>
    <div class="container">
        <h4>Quotable Quotes</h4>
        {% for quote in all_quotes %}
            <fieldset>
                <h4>Quote by {{quote.author}}</h4>
                <p>{{ quote.content }}</p>
                <p>Posted by {{ quote.user.id }}</p>
            </fieldset>
        {% endfor %}
    </div>
    <div class="container">
        <h3>Favorite Quotes</h3>
        <h3>Add a Quote</h3>
        <form action="/quotes/add" method="post">
            {% csrf_token %}
            Author: <input type="text" name="author" value="">
            Quote: <textarea name="quote" rows="8" cols="80"></textarea>

            <input class="btn-success" type="submit" value="Add Quote">
        </form>
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
</body>
</html>
