body{
    background-color: #e2edff;
}
.container{
    width: 80%;
    clear: both;
}

.container input, .container textarea{
    width: 100%;
    clear: both;
}

.errors{
    color: red;
}

body{
    color: #425270;
}

p{
    margin-left: 10px
}
