<h1>Switchboard</h1>
<!-- <div *ngFor="for status in statuses"class="buttons">
    <div class="off">Off</div>
    <div class="on">On</div>
</div> -->
<style media="screen">
    div{
        width: 50px;
        height: 50px;

    }
    .btn{
        background-color: red;
    }
    .btn.on{
        background-color: green;
    }
</style>
<div *ngFor="let status of statuses; let i = index">
    <div class="btn" *ngIf="status" [ngClass]="{'on': status}" (click)="switched(i)">On</div>
    <div class="btn" *ngIf="!status" [ngClass]="{'on': status}" (click)="switched(i)">Off</div>
</div>
