<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a Cat</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">
         $(document).ready(function (){
            // this triggers the connection event in our server!
        })
    </script>
</head>
<body>
    <h1>Please enter cat info:</h1>
    <form action="/cats" method="post">
        Cat Name: <input type="text" name="name" value=""><br>
        Cat Breed: <input type="text" name="breed" value=""><br>
        <input type="submit" name="" value="Add my cat!">
    </form>
    <form action="/" method="get">
        <input type="submit" name="" value="See all cats">
    </form>
</body>
</html>
