<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ajax Notes App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript">
    $(document).ready(function(){

        $('#add_django').click(function(){
            $('#post_form').fadeOut();
        })
    });
    </script>
</head>
<body>
    <h1>Notes</h1>
    <hr>
    <button id="button" type="button" name="button"></button>
    <form id="post_form">
        {% csrf_token %}
    <div>
        <h3>Django</h3>
        <a id="add_django" href="">Description</a>
        <ul id="django_list">
        </ul>
    </div>
    </form>
    <form id="post_form">
    <div class="python">
        <h3>Python</h3>
        <a href="#">Description</a>
        <ul id="python_list">
        </ul>
    </div>
        {% csrf_token %}
        Add a note: <input type="text" name="note" value="">
        <input id="add_post"type="submit" name="" value="Post it!">
    </form>
</body>
</html>
