<h1>Hi, {{user.name}}!</h1>
<a [routerLink]="['/new_question']">Add Question</a> | <a [routerLink]="['']">Logout</a>
<table>
    <tr>
        <th>Question</th>
        <th>Answer</th>
        <th>Actions</th>
    </tr>
    <tr *ngFor="let question of questions">
        <td> {{question.q_text}}</td>
        <td> {{question._answers.length}}</td>
        <td><a [routerLink]="['/question', question._id]">Show</a> | <a [routerLink]="['/question', question._id, 'new_answer']">Answer</a></td>
    </tr>
</table>
