<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Great number game</title>
</head>
<body>
    <h1>Welcome to The Great Number Game!</h1>
    <p>I'm thinking of a number between 1 and 100.</p>
    <p>Take a guess!</p>
    <p>{{ low_high }}</p>
    <form action="/number" method="post">
        <input type="text" name="guess" value="">
        <input type="submit" name="" value="Submit Guess">
    </form>
    <p>Current num {{ session["number"] }}</p>
</body>
</html>
